*{
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    background-image: url(/css/img/detChar-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.karakter-container {
    background-image: linear-gradient(to bottom, rgba(34, 68, 87, 1), rgba(34, 67, 86, 0.98), rgba(4, 30, 46, 1));
    width: 80%;
    margin: auto;
}

hr{
    width: 80%;
    border-color: rgba(25, 177, 217, 1);
    height: 4px;
    background-color: rgba(25, 177, 217, 1);
}

.banner img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.kepala {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Agar konten tetap di tengah secara vertikal */
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.kepala > .judul {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}

.icon {
    display: flex;
    flex-wrap: wrap;
}

.icon a {
    text-decoration: none;
    color: rgba(78, 121, 136, 1);
    font-size: 2rem;
    margin-right: 1rem; /* Tambahkan margin untuk memberikan ruang antara ikon */
    font-weight: 800;
}

.icon a:last-child {
    margin-right: 0; /* Hapus margin pada elemen terakhir agar tidak ada ruang berlebih */
}

.kepala .icon img {
    width: 2rem;
    height: 2rem;
}


.konten{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.konten > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
    overflow: hidden;
    margin-top: 1rem;
}

.konten > .konten-deskripsi{
    text-align: justify;
    color: rgba(25, 177, 217, 1);
    font-size: 1.25rem;
    padding-bottom: 2rem;
}